.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
  background-color: $base-color;
  color: $white;
  text-transform: uppercase;
  font-family: $base-font;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
}
