.footer {
  margin: 0 auto;
  font-family: $base-font;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 648px;
    flex-direction: row;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 961px;
    flex-direction: row;
  }
}

.footer__hashtag {
  margin-top: 38px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer__social {
  margin: 0 auto;
  margin-top: 33.5px;
}

.footer__htmlacademy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
