.main-nav {
  width: 320px;
  background-color: $base-color;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-nav__toggle {
  display: none;
}
