.map {
  height: 350px;
  background: url("../img/map-mobile.jpg") center center no-repeat;
  margin-top: 49px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");
  }
}
