.site-list {
  text-align: center;
  font-family: $base-font;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
}

.site-list__item a {
  text-decoration: none;
  color: $white;

  :visited,
  :hover,
  :active {
    color: $white;
  }
}
