* {
  box-sizing: border-box;
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

li {
  list-style-type: none;
}

.visually-hidden {
  display: none;
}

p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}
